button.win-control-button {
    height: 32px;
    width: 46px;
    min-width: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;

    font-family: "Segoe MDL2 Assets", serif;

    font-size: 10px;
    color: var(--foreground-1);
}
