.title-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.result_list_root {
    div[role="grid"] {
        outline: none;
    }
}
