html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    --background-1: #ffffff;
    --foreground-1: #000000;

    background: var(--background-1);
    color: var(--foreground-1);

    &.dark {
        --background-1: #292929;
        --foreground-1: #ffffff;
    }

    div#root {
        overflow: hidden;
    }
}

.scroll-bar-dark {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #2c2c2c;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: black;
    }
}

* {
    box-sizing: border-box;
    user-select: none;
    // transition: border 0.2s, background-color 0.2s, color 0.2s;
}
